/* Default settings */
  
  /* all */
  * {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  a, a:visited {
    color:#0055FF;
    cursor:pointer;
  }
  
  /* header */
  .header {
    background:white;
    border-bottom:5px solid #009D82;
  }
  .header-inner {
    width:100%;
    margin:0 auto;
    padding:5px 10px;
  }
  .header-inner:after {
    content: "";
    display:block;
    clear:both;
  }
  .header-left {
    float:left;
    width:66%;
  }
  .header-right {
    float:left;
    width:34%;
  }
  .header-title {
    float:left;
    padding-top:5px;
    padding-left:5px;
  }
  .header-title a {
    padding:5px 0px 6px 0px;
    display:inline-block;
    color:#122;
    font-size:17px;
    text-decoration:none;
    font-weight:bold;
  }
  .header-menu {
    text-align:center;
    padding-top:0px;
    list-style:none;
  }
  .header-menu:aflter {
    content "";
    display:block;
    clear:both;
  }
  .header-menu li {
    float:left;
    width:calc(50% - 5px);
    margin-right:5px;
  }
  .header-menu a {
    display:block;
    width:100%;
    font-size:15px;
    text-decoration:none;
    color:#444;
    margin-right:18px;
    background:white;
    padding: 5px 0 5px 0;
    background:#D82E5D;
    color:white;
    border-radius:5px;
    text-decoration:none;
    padding:10px 0 8px 0;
  }
  
  .menu-button {
    display:none;
  }
  
  /* footer */
  .footer {
    background:black;
    margin-top:15px;
    text-align:center;
    padding:0px 0;
    border-top:1px solid #00A78C;
  }
  .footer a, .footer a:visited {
    color:white;
  }
  
  /* container */
  .container {
  }
  
  /* main */
  .main {
    max-width:860px;
    width:100%;
    margin: 0 auto 15px auto;
  }
  .main:after {
    content:"";
    display:block;
    clear:both;
  }
  
  /* content */
  .content {
    float:left;
    width:100%;
  }
  
  /* entry */
  .entry {
    border:1px solid #20C7AB;
    background:white;
    padding:15px 30px;
    margin-bottom:10px;
    border-radius:4px;
    margin-top:15px;
  }
  .entry li {
    margin-left:25px;
    line-height:1.5;
  }
  
  /* side */
  .side {
    float:left;
    width:100%;
    margin-left:1%;
    display:none;
  }
  
  /* tags */
  h1 {
    max-width:860px;
    width:100%;
    font-size:30px;
    padding:12px 10px 10px 13px;
    margin: 0 auto;
  }
  .site-description {
    max-width:860px;
    width:100%;
    margin: 0 auto;
    padding:0px 15px 15px 15px;
  }
  h1 a, h1 a:visited {
    text-decoration:none;
    color:#0f213d;
  }
  h2 {
    font-size:29px;
    padding:10px 0;
    letter-spacing:2px;
  }
  h2 a, h2 a:visited {
    text-decoration:none;
    color:#000;
  }
  h3 {
    font-size:22px;
    border-left:7px solid #00977B;
    padding:6px 0px 4px 12px;
    letter-spacing:1.5px;
    margin:30px auto 10px auto;
  }
  h4 {
    font-size:17px;
    font-weight:bold;
    padding:6px 0px 4px 5px;
    letter-spacing:0.5px;
    margin:15px 0 10px 0;
  }
  p {
    font-size:16px;
    color:#111;
    margin:10px 0;
    line-height:1.5;
    padding:0 15px;
  }
  pre {
    font-size:16px;
    background:#FCFCFC;
    border:1px solid #CCCCCC;
    border-radius:5px;
    padding:10px 15px;
    margin:10px 0;
    line-height:1.5;
    white-space:pre-wrap;
  }
  blockquote {
    font-size:16px;
    background:#FCFCFC;
    border:1px solid #CCCCCC;
    border-radius:5px;
    padding:10px 15px;
    margin:10px 0;
    line-height:1.5;
  }

  table {
    border-collapse: collapse;
    margin-left:15px;
  }

  table th {
    border:1px solid #ddd;
    padding:7px;
    background:#efe;
    font-weight:bold;
  }

  table td {
    border:1px solid #ddd;
    padding:7px;
  }
  
  table i {
    color:green;
    font-weight:bold;
  }
  
  /* advanced */
  .day {
    text-align:right;
    color:#999;
  }
  .before-days {
    text-align:center;
  }

  /* メールフォーム */
  .mail-form {
    padding:10px 20px;
  }
  .mail-form-title {
    font-weight:bold;
    margin-bottom:3px;
    letter-spacing:1px;
  }
  
  .mail-form label {
    margin-bottom:14px;
    display:block;
  }
  .mail-form input {
    width:90%;
    max-width:500px;
    padding:5px;
    font-size:16px;
  }
  .mail-form textarea {
    width:90%;
    max-width:500px;
    min-height:200px;
  }
  .mail-form button {
    width:300px;
    background:#D82E5D;
    color:white;
    border:none;
    font-size:20px;
    border-radius:10px;
    margin-bottom:30px;
    padding:10px 0 7px 0;
    cursor:pointer;
  }
  .mail-form-success {
    color:green;
  }
  .mail-form-errors {
    color:red;
  }
  
  .main {
    max-width:100%;
    margin:0;
    padding:0;
  }
  .entry {
    margin:0;
    padding:0;
    border:none;
  }
  .index-head {
    text-align:center;
    background-color:#009D82;
    padding:30px 0;
  }
  .index-head img {
    width:100%;
    max-width:240px;
  }
  .index-head:after {
    content:"";
    display:block;
    clear:both;
  }

  .index-head-title {
    
  }
  .index-head h2 {
    color:white;
    font-size:38px;
    letter-spacing:1.5px;
    padding:0 10px;
  }

  .index-head-description {
    padding:0 30px;
    color:white;
    font-size:22px;
    letter-spacing:2px;
    margin-top:10px;
    line-height:1.5;
  }
  
  .index-inner {
    max-width:860px;
    width:100%;;
    margin:0 auto -10px auto;
    padding:0px 0 0px 0;
  }

  h3 {
    font-size:24px;
    letter-spacing:1.5px;
    padding:0;
    margin:0;
    border:none;
  }

  .index-start {
    margin:40px auto;
    text-align:center;
  }
  .index-start a {
    background:#D82E5D;
    color:white;
    text-decoration:none;
    border-radius:5px;
    display:inline-block;
    padding:30px 40px;
    width:90%;
    max-width:500px;
    font-size:20px;
    font-weight:bold;
  }
  
  a.link, a.link:visited {
    color:blue;
    text-decoration:none;
  }
  .footer {
    margin-top:0;
    border-top:0;
  }
  .index-courses {
    margin-left:auto;
    margin-right:auto;
    padding-bottom:40px;
  }
  .index-courses h3 {
    color:#122;
    font-size:28px;
    margin:0px 0 20px 0;
    text-align:center;
    padding-top:60px;
    padding-bottom:10px;
    letter-spacing:2px;
  }
  .index-courses-description {
    font-size:18px;
    font-weight:bold;
    letter-spacing:1px;
    margin-bottom:15px;
    padding:0 25px;
  }
 
  .index-courses ul {
    margin:0 auto;
    width:93%;
    display: flex;
    flex-wrap:wrap;
  }
  .index-courses li {
    list-style:none;
    display:block;
    float:left;
    width:49%;
    background:white;
    margin-left:0.5%;
    margin-right:0.5%;
    margin-bottom:15px;
    text-align:center;
    border:1px solid #008f76;
  }
  .index-courses a {
    color:#333;
    text-decoration:none;
    display:block;
    width:100%;
    padding:10px 10px;
  }
  .index-courses-item-title {
    font-weight:bold;
    padding:11px 0 1px 0;
    letter-spacing:1px;
    font-size:18px;
    margin-bottom:5px;
  }
  .index-courses-item-description {
    padding:3px 6px;
    color:#233;
    line-height:1.8;
  }
  .index-courses-item-image {
    background:#0eb094;
  }
  .index-courses-item-image img {
    width:100%;
  }
  .index-features {
    background:#dfe;
    padding-bottom:50px;
  }
  .index-features h3 {
    font-size:24px;
    text-align:center;
    padding:30px 5px 0 5px;
    color:#202;
  }
  .index-features ul {
    margin:0 auto;
    margin:0 auto;
    display: flex;
    flex-wrap:wrap;
  }
  .index-features li {
    list-style:none;
    display:block;
    float:left;
    width:41%;
    margin-right:9%;
    margin-bottom:5px;
    text-align:center;
    border-radius:8px;
    text-align:left;
    color:#202;
  }
  .index-features a {
    display:block;
    width:100%;
    color:inherit;
    text-decoration:none;
    padding:23px 0 17px 40px;
    font-weight:bold;
    border-bottom:1px dotted green;
  }
  .index-features a:hover {
  }
  .index-sitemap {
    margin-top:50px;
    background:#dfe;
    color:#202;
    padding:20px;
  }
  .index-sitemap-inner {
    width:860px;
    margin:0 auto;
  }
  .index-sitemap-inner:after {
    content:"";
    display:block;
    clear:both;
  }
  .index-sitemap-left {
    float:left;
    width:50%;
  }
  .index-sitemap-right {
    float:left;
    width:50%;
  }
  .index-sitemap ul {
    color:#000;
    margin:0 auto;
    line-height:1.8;
  }
  .index-sitemap li {
    list-style:none;
  }
  .index-sitemap a, .index-sitemap a:visited {
    color:#111;
    font-size:19px;
    color:#202;
  }

  /* 会員登録 */
  .signup {
    
  }
  .signup-title {
    font-weight:bold;
    text-align:center;
    font-size:18px;
  }
  .signup-block {
    width:calc(100% - 15px);
    max-width:500px;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
    border:1px solid #ddd;
    border-radius:5px;
  }
  .signup-title {
    
  }
  .signup input[type=text], .signup input[type=password] {
    display:block;
    width:calc(100% - 15px);
    margin-left:auto;
    margin-right:auto;
    margin-top:12px;
    margin-bottom:12px;
    padding:8px 10px;
    border-radius:3px;
    border:1px solid #ddd;
    font-size:16px;
  }
  .signup input[type=submit] {
    display:block;
    width:calc(50%);
    max-width:500px;
    margin-left:auto;
    margin-right:auto;
    background:#D82E5D;
    border:1px solid #D82E5D;
    color:white;
    padding:10px 0;
    border-radius:5px;
    display:block;
    width:calc(50%);
    max-width:500px;
    margin-left:auto;
    margin-right:auto;
    background:#D82E5D;
    border:1px solid #D82E5D;
    color:white;
    padding:10px 0;
    border-radius:5px;
    cursor:pointer;
  }

/* Tablet and Smart phone */
@media only screen and (max-width:860px) {
  .content {
    float:none;
    width:100%;
    margin:0 auto;
    margin-bottom:0px;
    border-radisu:0;
  }
  .side {
    float:none;
    width:97%;
    margin:0 auto;
  }
  .entry {
    border:none;
    margin-bottom:0px;
    padding:10px 20px;
    margin-top:0;
  }
  .container {
    padding:0;
  }
  .header {
    width:100%;
    margin-bottom:0;
    border-width:1px;
    padding:0;
  }
  .footer {
    margin-top:0px;
  }
  .main {
    margin-bottom:0;
  }

  .index-inner {
    width:98%;;
    margin:0 auto -10px auto;
    padding:0px 0 0px 0;
  }
  .index-features li {
    width:100%;
  }
  .index-courses {
  }
  .index-courses li {
    width:48%;
    margin-right:1%;
  }

  .index-sitemap-inner {
    width:100%;
  }
  .index-sitemap-left {
    width:100%;
  }
  .index-sitemap-right {
    width:100%;
  }
  .index-head-left {
    width:100%;
    padding:30px 5px 10px 5px;
  }
  .index-head-right {
    width:100%;
    padding:0;
  }
  .index-courses ul {
    width:100%;
  }
  .index-courses li {
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
  }
  .index-features li {
    width:90%;
    margin-left:auto;
    margin-right:auto;
  }
}
